{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans full_name=full_name, comment=comment, project_name=project_name %}
{{ full_name }} has written to {{ project_name }}
{% endtrans %}
---------
{{ comment }}
---------
{% trans project_name=project_name %}
You are receiving this message because you are listed as administrator of the project titled {{ project_name }}.
{% endtrans %}

{% trans signature=sr("signature") %}
---
{{ signature }}
{% endtrans %}
